.log-details {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.log-details-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.log-details-date {
	margin-right: 40%;
}

.back {
	width: 2vw;
}