.header {
	display: flex;
	align-items: center;
	height: 4vh;
	border-bottom: 2px solid #cccc31;
	width: 80vw;
	margin: 0 auto;
	margin-bottom: 2.5rem;
	margin-top: 1.5rem;
	color: #0071bc;
	font-family: "Source Sans Pro", Helvetica;
}

.trend-btn-wrapper {
	width: 90px;
	height: 35px;
	display: flex;
	position: relative;
}

.trend-btn {
	margin-left: 10px;
	margin-bottom: 5px;
	align-self: flex-end;
	width: 73px;
	height: 22px;
}

.logout-btn {
	margin-right: 15px;
}

.title {
	margin-left: 35%;
	text-decoration: none!important;
	font-weight: 900!important;
	color: #0071bc!important;
}

.notification {
	width: 15px;
	position: absolute;
	right: 1px;
	top: 2px;
}