.entry-form {
	border: 1px solid black;
	width: 50vw;
	height: 40vh;
	min-height: 400px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	z-index: 5;
	align-self: flex-start;
	margin-top: 5%;
}

input {
	width: 85%;
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 52%;
	margin: 0 auto;
	text-align: start;
	position: relative;
	z-index: 5;
}

.checkbox {
	width: 16px;
}

.submit-form {
	margin: 0 auto;
	position: relative;
	z-index: 5;
}

.subtitle {
	font-weight: bold;
	color: #0071bc;
}

.form-title {
	border: none;
	margin-bottom: 0;
	color: black;
	font-size: 1.5rem;
}

.result-list {
	position: relative;
	z-index: 10;
	overflow: scroll;
}